.bm-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* sidebar */
.bm-sidebar {
  width: 22%;
  background:#032B44;
  padding: 22px;
  color: #fff;
}

.bm-sidebar h2 { margin-bottom: 30px; font-size: 28px; }

.bm-btn {
  display: block;
  background:#1CA1F1;
  color: #fff;
  padding: 12px;
  text-decoration: none;
  margin-bottom: 12px;
  border-radius: 5px;
  text-align: center;
  transition: .3s;
}
.bm-btn:hover{ background:#1885C9}

/* main content */
.bm-main {
  width: 78%;
  padding: 60px;
}
.bm-main h1{ font-size: 40px; margin-bottom: 10px; }

/* logout */
.logout-btn{
  margin-top:40px;
  width:100%;
  background:#E53935;
  color:#fff;
  padding:12px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
}
.logout-btn:hover{background:#C62828}